@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

body{
    font-family: 'Arial', serif ;
    background-color: #f0f0f5 ;
}

.city{
    font-size: 32px;
}

.date {
    font-size: 16px;
}

.container-temp{
    display: flex;
    justify-content: center;
    background-color: #6699ff;
    box-shadow: 5px 6px #000066;
    cursor: pointer;

    font-size: 100px;
    font-weight: 900;
    text-shadow: 3px 6px #000066;
}

.weather{
    font-size: 32px;
}

.low-high {
    font-size: 22px;
}